body {
    margin: 0;
}

/* Estilo para o contêiner do formulário */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para o título do formulário */
.form-container h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para os campos de entrada */
.form-container input[type="date"],
.form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    box-sizing: border-box;
    /* Para incluir padding e border no width */
}

/* Estilo para o botão de envio */
.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #45a049;
}

/* Estilo base para o select */
select#empresa {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    /* Remove o estilo padrão do sistema operacional */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    cursor: pointer;
}

/* Estilo quando o select está focado */
select#empresa:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Estilo para as opções do select */
select#empresa option {
    padding: 10px;
    font-size: 1rem;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

td a:hover {
    text-decoration: underline;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header a {
    text-decoration: none;
}

header button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

header button:hover {
    background-color: #45a049;
}

#divPaiFiltro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#divFiltro {
    text-align: center;
    margin-bottom: 10px;
}

#divFiltro input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}